<form action="/new" method="post">
  <label for="new_file">Add a new document:</label>
  <div>
    <input type="text" name="new_file" placeholder="File Name" value="">
    <input type="submit" value="Create">
  </div>
</form>