<form action="/users/sign_up" method="post">
  <div>
    <label for="user_name">Username:</label>
    <input type="text" name="user_name" value="<%= params[:user_name] %>">
  <div>
  <div>
    <label for="password">Password:</label>
    <input type="password" name="password" value="">
    <div>
  <button type="submit">Sign Up</button>
</form>